@font-face {
  font-family: 'starcraft';
  src: url("./Starcraft%20Normal.ttf");
}

a:link {
  color: #FFF;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  text-decoration: none;
  color: #999;
}
a:visited {
  color: #FFF;
  text-decoration: none;
}
li {
  list-style-type: none;
  line-height 33px;
}
h3 {
  font-family: "starcraft";
}
body
{
  background-color: #f4f4f4;
  color:#999;
}
.done-true
  text-decoration line-through;
  color darkgray;
.form
  display: inline-block;
.Col {
  padding: 20px;
  margin-left:5px;
  margin-right:5px;
  float: left;
  width: 32.5%;
  background-color #fff;
  box-shadow: 3px 3px 5px #888888;
  column-gap: 20px;
  min-height: 450px;
}
.animation img {
  padding: 30px;
  float: left;
}

.bannerContainer {
  overflow: hidden;
  position: relative;
}
.bannerContainer img {
  width:100%;
  height: 100%;
}

.container.myCont{
  width:100%;
  padding-right:0px;
  padding-left:0px;
  .carousel-caption {
    left: 5%;
    text-align: left;
  }
  .item > img {
    position: absolute;
    bottom: -50%;
  }
  .carousel-inner > .item {
    height: 380px;
  }
}

#cols {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top:10px
  padding-bottom 600px;
}

#Nav {
  padding:10px;
  float: right;
  position: relative;
  text-align: Left;
  background-color: #333;
  border:solid 1px #CCC;
  width: 200px;
  height: 250px;
  left: -75px;
  line-height: 200%;
  color: #ffffff;
  opacity: 0.5;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1;
  overflow: hidden;

  a {
    padding-left:10px;
    display: inline-block;
    width: 200px;
    &.active {
      background-color: #6e6d6d;
    }
  }


  a:hover, a:active, a:focus {
    color: #999;
  }
}

#Bar
{
  left: 20px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 110px;
  background-image: url("binding_dark.png");
  background-repeat: repeat;
  z-index: 1;
  border:solid 1px #CCC;
}

#logo img
{
  position:relative;
  padding-top:32px;
  z-index: 0;
  width:450px;
  padding-left: 40px;
}

#static
{
  padding-top: 10px;
  padding-left: 20 px;
  left: 20px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background: linear-gradient(to right, #000, #ccc);
  z-index: 1;
}

#Area {
  margin-left:auto;
  margin-right:auto;
  background-color #f4f4f4;
  max-width: 1300px;
  margin-top: 20px;

  #underMain {
    margin-left:5px;
    margin-right:5px;
    padding:20px;
    background-color #f4f4f4;
    max-width: 1300px;
    background: #FFFFFF;
    box-shadow: 3px 3px 5px #888888;
  }
}
#Area .block img {
  max-height:400px;
  max-width: 400px;
  float left;
  padding: 20px;
}
#Area .block {
  float left;
}

@media (max-width: 900px) {
  #logo img {
    width: 300px;
    padding-top 55px;
  }
  .container.myCont .carousel-inner > .item {
    height: 250px;
  }
  .Col {
    width:100%;
  }
}
@media (max-width: 700px) {
  #logo {
    padding-top 2000px;
  }
  .container.myCont .carousel-inner > .item {
    height: 175px;
  }
}

.item > img {
  position: absolute;
  bottom: 0;
}