a:link {
  color: #FFF;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  text-decoration: none;
  color: #999;
}
a:visited {
  color: #FFF;
  text-decoration: none;
}
li {
  list-style-type: none;
  line-height 33px;
}
h3 {
  font-family: "starcraft";
}

.container.myCont{
	width:100%;
	padding-right:0px;
	padding-left:0px; 
}
.carousel-inner > .item {
	height: 380px;
}


.item > img {
  position: center;
  bottom: 0;
}